*.lock
*.log
*.tmp


emi.json
minecraftinstance.json
oculus.properties
quark-common.toml
indigo-renderer.properties
occlusion.properties
reflectivity.properties
options.txt


/crash-reports/
/saves/
/screenshots/
/XaeroWaypoints_BACKUP240807/
/xaero/
/local/
/logs/
logs/latest.log
/modernfix/
/immersive_paintings_cache/
/essential/
/easy_npc/
config/worldedit/worldedit.properties
config/xaerominimap_entities.json
usercache.json
config/voicechat/username-cache.json
servers.dat_old
config/spark/activity.json
fancymenu_data/last_world.fmdata
.qmenu_opened.marker
