*.lock
*.log
*.tmp


emi.json
minecraftinstance.json
oculus.properties
quark-common.toml
indigo-renderer.properties
occlusion.properties
reflectivity.properties


/saves/
/screenshots/
/XaeroWaypoints_BACKUP240807/
/xaero/
/local/
/logs/
local/
logs/
logs/latest.log
/modernfix/
modernfix/